.viburnum-header {
background-color:palevioletred;
    }

.main-viburnum {
background-color: aliceblue;
     }

.footer-viburnum {
background-color: aquamarine;
      }

.uwm-header {
background-color: cadetblue;
    }

.uwm-main {
background-color: darkolivegreen;
     }

.uwm-footer {
background-color: darkgray;
     }